<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="organ.Properties.Settings.dbOrganConnectionString"
            connectionString="Data Source=SANTANA-COMPUTE\SQLEXPRESS;Initial Catalog=dbOrgan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="organ.Properties.Settings.dbOrganConnectionString1"
            connectionString="Data Source=SANTANA-COMPUTE\SQLEXPRESS;Initial Catalog=dbOrgan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="organ.Properties.Settings.dbOrganPCMILENAConnectionString"
            connectionString="Data Source=SANTANA-COMPUTE\SQLEXPRESS;Initial Catalog=dbOrgan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>