<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="organ.Properties.Settings.dbOrganConnectionString"
            connectionString="Data Source=SANTANA-COMPUTE\SQLEXPRESS;Initial Catalog=dbOrgan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="organ.Properties.Settings.dbOrganConnectionString1"
            connectionString="Data Source=SANTANA-COMPUTE\SQLEXPRESS;Initial Catalog=dbOrgan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="organ.Properties.Settings.dbOrganPCSANTANAConnectionString"
            connectionString="Data Source=SANTANA-COMPUTE\SQLEXPRESS;Initial Catalog=dbOrgan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="organ.Properties.Settings.dbOrganCERTO" connectionString="Data Source=LAPTOP-B8RLEG27;Initial Catalog=dbOrgan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="organ.Properties.Settings.dbOrganPCMILENAConnectionString"
            connectionString="Data Source=SANTANA-COMPUTE\SQLEXPRESS;Initial Catalog=dbOrgan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="organ.Properties.Settings.dbOrganConnectionString2"
            connectionString="Data Source=LAB2PC12\SA;Initial Catalog=dbOrgan;Persist Security Info=True;User ID=sa;Password=1234567"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <System.Windows.Forms.ApplicationConfigurationSection>
      <add key="DpiAwareness" value="PerMonitorV2" />
      <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" /> 
    </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
